<%= toolbar title: t('bim.linked_issues'), html: {class: '-with-dropdown'} do %>
  <li class="toolbar-item drop-down">
    <a href="#" aria-haspopup="true" title="<%= t(:label_more) %>" class="button">
      <span class="button--text"><%= t(:label_more) %></span>
      <%= op_icon('button--dropdown-indicator') %>
    </a>
    <ul style="display:none;" class="menu-drop-down-container">
        <li>
          <%= link_to I18n.t(:label_import),
                      { action: 'import' },
                      title: I18n.t(:label_import),
                      class: 'icon-context icon-import' %>
        </li>
    </ul>
  </li>
<% end %>
